:root {
  --dark-blue: #0E64C2;
  --yellow: #FFCC17;
  --light-gray: #EFF0F6;
  --dark-gray: #A0A3BD;
  --dark-gray-2: #4E4B66;
  --red: #ED5249;
  --nav-bar-height: 70px;
  --box-shadow-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --main-width: 1182px;
}

html {
  overflow-y: scroll;
}

* {
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  object-fit: cover;
}

.material-icons {
  font-weight: 500;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 800px) {
  h1 {
    font-size: 24px;
  }
}

.hide {
  display: none !important;
}

.error {
  color: red;
  margin-top: 8px;
}

.page {
  max-width: 1150px;
  margin: 0 auto;
  padding: calc(var(--nav-bar-height) + 16px) 16px 16px;
}
@media (min-width: 1001px) {
  .page {
    margin-top: 0 !important;
  }
}
.page .page__title {
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
form #image-preview {
  margin-top: 12px;
}

.button {
  color: white;
  padding: 8px 14px;
  background-color: var(--dark-blue);
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button:link, .button:visited, .button:hover {
  color: white;
}

.button-text {
  font-size: 20px;
  font-weight: 500;
}

.button-text-selected {
  color: var(--dark-blue) !important;
}

.button-danger {
  background-color: var(--red);
}

.upload-new-image-button {
  margin-bottom: 0;
}

input[type=text], input[type=password], input[type=number], textarea {
  width: 100%;
  border-radius: 12px;
  padding: 8px 14px;
  outline: none;
  border: none;
  resize: none;
  background-color: var(--light-gray);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 500;
}

.horizontal-line {
  height: 5px;
  background-color: var(--dark-blue);
}

.dialog {
  width: 105%;
  height: 105vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  margin-left: -1px;
}
.dialog .dialog__content {
  width: 100%;
  max-width: 360px;
  background-color: white;
  padding: 22px;
  margin: 26px;
}
.dialog .dialog__content .dialog__content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 12px;
}
.dialog .dialog__content .dialog__content__header .close-button {
  font-size: 28px;
  cursor: pointer;
}
.dialog .dialog__content .dialog__content__body {
  display: flex;
  flex-direction: column;
}
.dialog .dialog__content .dialog__content__body .dialog__content__body__actions {
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 12px;
}
.dialog .dialog__content .dialog__content__body .dialog__content__body__actions .button {
  padding-left: 28px;
  padding-right: 28px;
}

#image-add-dialog .dialog__content {
  max-width: 556px;
}
#image-add-dialog #add-image-preview {
  width: 100%;
  max-width: 512px;
  aspect-ratio: 4/3;
}

#image-detail-dialog .dialog__content {
  max-width: 900px;
}
#image-detail-dialog .dialog__content .dialog__content__body #image-detail__src-container {
  margin-right: 14px;
}
#image-detail-dialog .dialog__content .dialog__content__body #image-detail__metadata {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#image-detail-dialog .dialog__content .dialog__content__body .dialog__content__body__actions {
  display: none;
}
#image-detail-dialog #image-detail__src-container {
  width: 100%;
  max-width: 512px;
}
#image-detail-dialog #image-detail__src-container #image-detail__src {
  width: 100%;
  aspect-ratio: 4/3;
  margin-right: 16px;
}

#alert-dialog .alert-dialog__actions {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}
#alert-dialog .alert-dialog__actions .button {
  width: 80px;
}

#author-add-dialog #profile-image-options {
  width: 100%;
  display: flex;
  gap: 8px;
}
#author-add-dialog #profile-image-options > * {
  flex: 1;
}
#author-add-dialog img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

#gallery-dialog .dialog__content {
  max-width: 1024px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  padding: 0;
  z-index: 999;
}

nav {
  max-width: 1150px;
  margin: 0 auto;
  height: var(--nav-bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 0 16px;
  /*a:hover {
    transition: transform 0.2s ease;
    transform: scale(1.048);
  }*/
}
nav > div {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 1000px) {
  nav > div {
    gap: 20px;
  }
}
nav .nav__links {
  width: 100%;
  max-width: 450px;
  justify-content: space-between;
}
nav .nav__logo {
  color: var(--dark-blue);
  font-size: 24px;
  font-weight: 500;
}
nav .nav__selected {
  padding-bottom: 3px;
  border-bottom: 3px solid var(--dark-blue);
  padding-top: 6px;
}
nav .nav__login {
  gap: 20px;
  flex-shrink: 0;
}
nav .nav__login .nav__login__vertical-line {
  width: 3px;
  height: calc(var(--nav-bar-height) - 30px);
  background-color: var(--dark-blue);
}
nav .nav__login .nav__user {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--light-gray);
  border-radius: 12px;
}
nav .nav__login .nav__user img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
nav #nav__mobile-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: absolute;
  top: var(--nav-bar-height);
  left: 0;
  background-color: white;
  padding-bottom: 16px;
  padding-left: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 20px 20px 0px;
}
@media (min-width: 1001px) {
  nav #nav__mobile-menu {
    display: none;
  }
}
nav #nav__mobile-menu #mobile-menu__horizontal-line {
  width: calc(100% - 16px);
  height: 3px;
  background-color: var(--dark-blue);
  margin-top: -10px;
  margin-bottom: -10px;
}
nav #nav__mobile-menu .nav__user {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav #nav__mobile-menu .nav__user img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
nav #hamburger {
  display: none;
  cursor: pointer;
}
nav #hamburger .hamburger__bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--dark-blue);
}
@media (max-width: 1000px) {
  nav #hamburger {
    display: block;
  }
  nav .nav__links .nav__link {
    display: none;
  }
  nav .nav__login {
    display: none;
  }
}

#index-page .horizontal-line {
  margin-bottom: 24px;
}
@media (max-width: 950px) {
  #index-page {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  #index-page {
    font-size: 12px;
  }
}

#articles {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 45px;
  grid-row-gap: 30px;
}
@media (max-width: 950px) {
  #articles {
    font-size: 14px;
    grid-column-gap: 25px;
  }
}
@media (min-width: 801px) {
  #articles .article:nth-child(even) {
    justify-self: end;
  }
}
@media (max-width: 800px) {
  #articles {
    grid-template-columns: 1fr;
  }
  #articles .article {
    margin: 0 auto;
  }
}

.article {
  width: 100%;
  max-width: 536px;
  cursor: pointer;
}
@media (max-width: 450px) {
  .article {
    font-size: 12px;
  }
}
.article .article__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.article .article__header * {
  color: white;
  font-size: 1em;
}
.article .article__header .header__title-image {
  width: 100%;
  max-width: 536px;
  height: 100%;
  max-height: 294px;
  filter: brightness(50%);
  cursor: pointer;
}
.article .article__header .header__title {
  max-width: 480px;
  position: absolute;
  bottom: 62px;
  left: 16px;
  font-size: 1.5em;
  font-weight: 500;
  padding-right: 16px;
}
@media (max-width: 450px) {
  .article .article__header .header__title {
    bottom: 52px;
    left: 10px;
  }
}
.article .article__header .header__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 16px;
  padding: 0 16px;
  font-weight: 500;
}
@media (max-width: 450px) {
  .article .article__header .header__info {
    padding: 0 10px;
    bottom: 10px;
  }
}
.article .article__header .header__info > div {
  display: flex;
  align-items: center;
}
.article .article__header .header__info .header__category {
  padding: 4px 16px;
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 16px;
  margin-right: 1em;
}
.article .article__perex {
  margin-top: 16px;
  font-size: 1.1em;
  font-weight: 500;
}
.article .article__read-more-btn {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 8px;
  font-weight: 500;
  color: var(--dark-blue);
}

#main-article {
  max-width: none;
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  cursor: pointer;
}
#main-article #main-article__title-image-container {
  flex: 5;
}
@media (max-width: 950px) {
  #main-article #main-article__title-image-container {
    flex: 4;
  }
}
#main-article #main-article__title-image-container #main-article__title-image {
  display: flex;
  width: 100%;
  max-width: 612px;
  height: auto;
  max-height: 335px;
  object-fit: cover;
}
#main-article #main-article__right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 4;
}
#main-article #main-article__right-side #main-article__title {
  font-size: 1.8em;
  font-weight: 600;
}
#main-article #main-article__right-side #main-article__perex {
  font-size: 1.3em;
  font-weight: 500;
  margin: 8px 0;
}
#main-article #main-article__right-side #main-article__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}
#main-article #main-article__right-side #main-article__info > div {
  display: flex;
  align-items: center;
}
#main-article #main-article__right-side #main-article__info #main-article__category {
  padding: 4px 16px;
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 16px;
  margin-right: 1em;
  color: white;
}

#article-detail-page {
  display: flex;
  gap: 32px;
}
@media (max-width: 900px) {
  #article-detail-page {
    display: block;
    gap: 0;
  }
}
#article-detail-page #article-detail-page__left-side {
  flex: 1;
}
#article-detail-page #article-detail-page__left-side #article-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#article-detail-page #article-detail-page__left-side #article-detail img {
  width: 100%;
  height: 100%;
}
#article-detail-page #article-detail-page__left-side #article-detail #article-detail__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}
@media (max-width: 500px) {
  #article-detail-page #article-detail-page__left-side #article-detail #article-detail__info {
    font-size: 12px;
  }
}
#article-detail-page #article-detail-page__left-side #article-detail #article-detail__info > div {
  display: flex;
  align-items: center;
  font-size: 1em;
}
#article-detail-page #article-detail-page__left-side #article-detail #article-detail__info #article-detail__category {
  padding: 4px 16px;
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 16px;
  margin-right: 1em;
  color: white;
}
#article-detail-page #article-detail-page__left-side #article-detail #article-detail__info #article-detail__author {
  display: flex;
  align-items: center;
  gap: 0.8em;
  color: black;
}
#article-detail-page #article-detail-page__left-side #article-detail #article-detail__info #article-detail__author #article-detail__author__picture {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
#article-detail-page #article-detail-page__left-side #article-detail #article-detail__perex {
  font-weight: 600;
  font-size: 1em;
}
#article-detail-page #article-detail-page__left-side #article-detail #article-detail__content {
  white-space: pre-wrap;
  font-size: 1em;
}
#article-detail-page #article-detail-page__left-side .horizontal-line {
  height: 5px;
  background-color: var(--dark-blue);
  margin-top: 48px;
}
#article-detail-page #article-detail-page__left-side .comments-title {
  font-size: 1.2em;
  margin-top: 16px;
  margin-bottom: 12px;
}
#article-detail-page #article-detail-page__left-side #comments {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}
#article-detail-page #article-detail-page__left-side #comments .comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#article-detail-page #article-detail-page__left-side #comments .comment .comment__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#article-detail-page #article-detail-page__left-side #comments .comment .comment__content .comment__username {
  font-size: 1.1em;
  font-weight: 500;
}
#article-detail-page #article-detail-page__left-side #comments .comment .comment__content .comment__date_added {
  color: var(--dark-gray-2);
}
#article-detail-page #article-detail-page__left-side #add-comment-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
#article-detail-page #article-detail-page__left-side #add-comment-form .button {
  width: 100%;
  max-width: 100px;
}
#article-detail-page #article-detail-page__right-side {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-shrink: 0;
}
@media (max-width: 900px) {
  #article-detail-page #article-detail-page__right-side {
    display: none;
  }
}
#article-detail-page #article-detail-page__right-side #article-recommendations #article-recommendations__title {
  color: white;
  background-color: var(--dark-blue);
  padding: 8px;
  margin-bottom: 16px;
}
#article-detail-page #article-detail-page__right-side #article-recommendations #article-recommendations__articles {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#article-detail-page #article-detail-page__right-side #article-recommendations .recommended-article {
  width: 100%;
  height: 110px;
  display: flex;
  gap: 10px;
}
#article-detail-page #article-detail-page__right-side #article-recommendations .recommended-article .recommended-article__title-image {
  width: 45%;
}
#article-detail-page #article-detail-page__right-side #article-recommendations .recommended-article .recommended-article__title {
  font-size: 0.9em;
  overflow: hidden;
}
#article-detail-page #article-detail-page__right-side .advert {
  padding: 6px;
  border: 3px solid var(--light-gray);
}
#article-detail-page #article-detail-page__right-side .advert .advert__title {
  color: gray;
  text-align: center;
}
#article-detail-page #article-detail-page__right-side .advert .advert__image {
  width: 100%;
}

#categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 1000px) {
  #categories {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  #categories {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  #categories {
    grid-template-columns: 1fr;
  }
}
#categories .category {
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: var(--box-shadow-1);
  padding: 15px;
  transition: transform 0.2s ease;
}
#categories .category .category__name {
  width: 100%;
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  font-weight: normal;
  padding: 6px 0;
}
#categories .category:hover {
  cursor: pointer;
  transform: scale(1.04);
}

#authors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 1000px) {
  #authors {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  #authors {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  #authors {
    grid-template-columns: 1fr;
  }
}
#authors .author {
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: var(--box-shadow-1);
  padding: 20px;
  border-radius: 14px;
  transition: transform 0.2s ease;
}
#authors .author .author__picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid var(--yellow);
  padding: 4px;
}
#authors .author .author__name {
  font-weight: 500;
  font-size: 1.2em;
}
#authors .author .author__bio {
  color: var(--dark-gray-2);
}
#authors .author .author__article-count {
  width: 100%;
  margin-top: auto;
  padding-top: 8px;
  text-align: left;
}
#authors .author:hover {
  cursor: pointer;
  transform: scale(1.04);
}

#login-page {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
#login-page .form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  box-shadow: var(--box-shadow-1);
}
#login-page .form h2 {
  margin-bottom: 8px;
}
#login-page .button {
  width: 100%;
  margin-top: 8px;
}

#administration-page .horizontal-line {
  margin: 24px 0;
}
#administration-page #administration__subpages {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
#administration-page #administration__actions {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
#administration-page table {
  width: 1130px;
  max-height: 10000px;
  display: block;
  overflow: auto;
  border-collapse: collapse;
}
#administration-page table th, #administration-page table td {
  text-align: center;
  padding-bottom: 14px;
  padding-right: 14px;
  width: 1%;
}
#administration-page table th {
  position: sticky;
  top: 0;
  background-color: white;
}
#administration-page table td {
  height: 120px;
}
#administration-page table tr:nth-child(2n) {
  background-color: var(--light-gray);
}
#administration-page #administration__articles th, #administration-page #administration__articles td {
  width: 12%;
}
#administration-page #administration__articles .administration-article__title {
  width: 20%;
}
#administration-page .administration-table__actions {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
  justify-content: center;
}

#gallery #gallery__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media (max-width: 632px) {
  #gallery #gallery__images {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 357px) {
  #gallery #gallery__images {
    grid-template-columns: 1fr;
  }
}
#gallery #gallery__images img {
  width: 100%;
  aspect-ratio: 4/3;
  cursor: pointer;
  transition: 0.3s ease all;
}
#gallery #gallery__page-controller {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  font-size: 20px;
  font-weight: 500;
}
#gallery #gallery__page-controller .material-icons {
  font-size: 36px;
  cursor: pointer;
}

.page-number-input {
  width: 24px !important;
  border-radius: 0 !important;
  padding: 0 !important;
  background-color: inherit !important;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

#article-add-page form input[type=text], #article-add-page form textarea {
  width: 100%;
  font-size: 1.1rem;
}
#article-add-page form > div {
  width: 100%;
}
#article-add-page form #image-preview {
  width: 100%;
  max-width: 512px;
}
#article-add-page form #title-image-options {
  width: 100%;
  max-width: 195px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#profile-page .page__title {
  display: flex;
  align-items: center;
  gap: 14px;
}

#profile-page__user-info form {
  width: 100%;
  display: flex;
  gap: 32px;
}
@media (max-width: 601px) {
  #profile-page__user-info form {
    flex-direction: column;
  }
}
#profile-page__user-info form .profile-page__form__left-side {
  max-width: 200px;
}
#profile-page__user-info form .profile-page__form__left-side #profile-page__picture {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 24px;
  margin-bottom: 12px;
}
#profile-page__user-info form .profile-page__form__left-side .button {
  padding-left: 23px;
  padding-right: 23px;
}
#profile-page__user-info form .profile-page__form__left-side input[type=file] {
  display: none;
}
#profile-page__user-info form .profile-page__form__left-side #add-user-picture {
  width: 100%;
}
#profile-page__user-info form .profile-page_form__right-side {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
